/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #262626;
}
.navbar-nav .active{
    text-decoration: underline;
}

/* Color of the navbar BEFORE scroll */
.navbar-scroll {
  background-color: #d35c86;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #262626;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: auto;
  padding-bottom: auto;
}
.navbar-brand {
  font-size: unset;
  height: 3.5rem;
  padding-right: 10px;
}  
.nav-item{
    padding-left: 100px;
    font-size:larger;
}

.content-area{
  background-image: url('images/me.png');
  background-size:cover;
}
#head{
  margin: 25% 0% 19% 0%;
  color: white;
}
.scroll-down__link{
  color:yellow;
}

#portfolio{
  background-color:gainsboro;
}
#work{
  list-style: none;
  font-size: larger;
}

#work li::before{
  color: #d35c86;
  font-size: 30px;
  content: "\00BB";
}

.layout-singlecolumn{
  text-align: center;
  background-color:black;
  color: white;
}

.mb-3{
  font-size: 36px;
}
.text-center{
  color: black;
  background-color: rgba(0, 0, 0, 0.2);
}

#about{
  background-color: #e6f3f1;
}

#info{
  padding: 10% 5% 5%;
  font-size: large;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#image{
  padding:5%;
}

#academic{
  padding: 5%;
  font-size:larger;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#academic .progress{
  height: 13px;
}

#container {
  position: relative;
  width: 50%;
}

.ima {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#container:hover .ima {
  opacity: 0.3;
}

#container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #d35c86;
  padding: 16px 32px;
}

#text1{
  text-decoration: none;
  color: white;
  font-size: 16px;
}

#info1{
  margin-top: 5%;
  font-size: large;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#contact{
  background-color: white;
  margin: 5% 0% 5%;
  display: inline-block;
      width: 100%;
      vertical-align: middle;
}

.wpcf7-form-control{
  display: inline-block;
      width: 100%;
      vertical-align: middle;
      font-size: 1.125rem;
      border: solid 2px #ccc;
      letter-spacing:1px;
      font-family:"Proxima Nova", san-serif;
}

form input.wpcf7-submit{
  background-color: #d35c86;
  display: inline-block;
  letter-spacing: 1px;
  border: solid 2px #d35c86;
  font-size: 1.125rem;
  font-weight: 600;
}